@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap')

=bb($padding)
    box-sizing: border-box
    padding: $padding

%flex-end
    display: flex
    justify-content: flex-end
    align-items: center

%flex-center
    display: flex
    justify-content: center
    align-items: center

%flex-start
    display: flex
    align-items: center

body,html
    margin: 0
    padding: 0

a
    color: black
    text-decoration: none

li,ul
    list-style: none
    margin: 0
    padding: 0

[class*=container]
    +bb(0 15px)
    max-width: 1460px
    margin: 0 auto
    @media ( max-width: 1460px )
        max-width: 1100px
    @media ( max-width: 1100px )
        max-width: 900px